<div class="navbar d--f jc--sb ai--c">
    <h1>{{ title }}</h1>
    <div class="navLinks d--f">
        <a href="{{ path('calendar') }}">Calendar</a>
        <a href="{{ path('services') }}">Services</a>
        <a href="{{ path('therapists') }}">Therapists</a>
        <a href="{{ path('calendar') }}">Account</a>
        <a href="{{ path('logout') }}">Logout</a>
    </div>
</div>